.format-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.coming-soon{
    text-align: center;
    margin-top: 20%;
    font-style: italic;
    font-weight: bolder;
}

.hide{
    display:none;
}
.show{
    display:block;
}